{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}
 
<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
  </head>
  <body>
    <h1>Salut {{ nom }} !</h1>
 
    <p>
	Tu est {{ sexe }} et tu mesures {{ taille }} !! 
    </p>
  </body>
</html>
